<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
    <%- include('../partials/meta.ejs'); %>
</head>

<body>
    <nav class="navbar">
		<%- include('../partials/searchbar.ejs'); %>
	</nav>
    <br>
    <div class = "text-white container">
        <table class = "table text-white text-center">
            <thead>
                <tr>
                    <th scope="col">
                        
                    </th>
                    <th scope = "col">
                        <div class='searchbar'>
                            <table style = "width:100%">
                                <tr>
                                    <td style = "width: 75%">
                                        <select style = "width: 100%;" name = "searchbar" id = "minisearch1" onchange = "location.pathname = encodeURI('compare' + this.value);">
                                            <option value='' description = "placeholder" selected disabled>Select an exam...</option>
                                            <% exams.forEach(function(exam){ %>
                                                <option value = '/<%= exam[1] %>' description = "placeholder"> <%=exam[0] %></option>
                                            <% }); %>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </th>
                    <th scope = "col">
                        <div class='searchbar'>
                            <table style = "width:100%">
                                <tr>
                                    <td style = "width: 75%">
                                        <select style = "width: 100%;" name = "searchbar" id = "minisearch2" onchange = "location.pathname = encodeURI(location.pathname + '++' + this.value.substring(1));">
                                            <option value='' description = "placeholder" selected disabled>Select an exam...</option>
                                            <% exams.forEach(function(exam){ %>
                                                <option value = '/<%= exam[1] %>' description = "placeholder"> <%=exam[0] %></option>
                                            <% }); %>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </th>
                    <th scope = "col">
                        <div class='searchbar'>
                            <table style = "width:100%">
                                <tr>
                                    <td style = "width: 75%">
                                        <select style = "width: 100%;" name = "searchbar" id = "minisearch3" onchange = "location.pathname = encodeURI(location.pathname + '++' + this.value.substring(1));">
                                            <option value='' description = "placeholder" selected disabled>Select an exam...</option>
                                            <% exams.forEach(function(exam){ %>
                                                <option value = '/<%= exam[1] %>' description = "placeholder"> <%=exam[0] %></option>
                                            <% }); %>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <%= exam1data[0] %>
                    </td>
                    <td>
                        <%= exam2data[0] %>
                    </td>
                    <td>
                        <%= exam3data[0] %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Average Score
                    </td>
                    <td>
                        <%= exam1data[1] %>
                    </td>
                    <td>
                        <%= exam2data[1] %>
                    </td>
                    <td>
                        <%= exam3data[1] %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Pass Rate
                    </td>
                    <td>
                        <%= exam1data[2] %>
                    </td>
                    <td>
                        <%= exam2data[2] %>
                    </td>
                    <td>
                        <%= exam3data[2] %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Number of 5s
                    </td>
                    <td>
                        <%= exam1data[3] %>
                    </td>
                    <td>
                        <%= exam2data[3] %>
                    </td>
                    <td>
                        <%= exam3data[3] %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Number of Test-takers
                    </td>
                    <td>
                        <%= exam1data[4] %>
                    </td>
                    <td>
                        <%= exam2data[4] %>
                    </td>
                    <td>
                        <%= exam3data[4] %>
                    </td>
                </tr>
            </tbody>
        </table>
        <center>
            <a href = "/compare"><button type="button" class="btn btn-dark">Restart</button></a>
        </center>
    </div>
</body>

<footer class="footer text-center text-lg-start">
	<%- include('../partials/footer.ejs'); %>
</footer>

</html>