<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
    <%- include('../partials/meta.ejs'); %>
</head>

<body>
    <nav class="navbar">
		<%- include('../partials/searchbar.ejs'); %>
	</nav>
    <br>
    <div class = "text-white container">
        <table class = "table text-white text-center">
            <thead>
                <tr>
                    <th scope="col">

                    </th>
                    <th scope = "col">
                        <%- include('../partials/minisearchbar.ejs'); %>
                    </th>
                    <th scope = "col">
                        <%- include('../partials/minisearchbar.ejs'); %>
                    </th>
                    <th scope = "col">
                        <%- include('../partials/minisearchbar.ejs'); %>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!--figure out what to actually put here in terms of statistics-->
                    <td>
                        Name
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        Average Score
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        Pass Rate
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        Number of 5s
                    </td>
                    <td>

                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<footer class="footer text-center text-lg-start">
	<%- include('../partials/footer.ejs'); %>
</footer>

</html>